@charset "UTF-8";
body {
    background-color: #E3ABFF;
}
body {
    text-align: center;
  
    
}
h1 {
	 text-align: center;
    font-style: italic;
    color: #CA8A52;
	text-decoration: underline;
}
